<div class="jumbotron">
  <h1 class="display-4">@T["Site created successfully."]</h1>
  <p class="lead">@T["An email has been sent to the provided address. Please check your inbox (or spam folder) and follow the instructions."]</p>
  <hr class="my-4">
  <p>@T["This email contains a link to setup your site and the credentials to access the admin."]</p>
</div>